body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #a6dcef; /* Fondo azul pastel */
}

.container {
    position: relative;
    z-index: 1;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente blanco */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra suave */
    overflow: auto; /* Hacemos que el contenido sea desplazable si es necesario */
}

h1, h2 {
    color: #333; 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}


.imagenes {
    text-align: center;
    margin-top: 20px; 
    width: 90%; 
    max-width: 900px; 
    margin: 0 auto; 
}

.imagenes a {
    display: inline-block; 
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 30%;
    max-width: 300px; 
}

.imagenes a:hover {
    transform: scale(1.05);
}




.container > div {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container > div p {
    color: #333; 
    line-height: 1.6;
    text-align: justify;
}
